
<div class="slide1 pure-g island para">
  <div class="pure-u-1 text-center">
    <div class="title-box">
      <h1 id="title-name" class="title-text">{{'Thomas Aston' | uppercase}}</h1>
      <h2 class="sub-text">{{'audio engineer | producer' | uppercase}}</h2>
    </div>
  </div>
</div>


<div class="slide2 pure-g island">
  <div class="pure-u-1 text-center">
    <h1 class="feature-text">{{ 'featured music' | uppercase }}</h1>
  </div>
  <div ng-repeat="object in home.audio | orderBy:'-createdAt' | limitTo:3" class="island pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
    <div class="audio-box" ng-bind-html="object.link | trustedHtml"></div>
    <div>
      <p style="font-weight:400;">Artist: {{object.title}}</p>
      <p style="font-weight:300;">{{object.content}}</p>
    </div>
  </div>
</div>

<div class="slide3 pure-g island">

  <div class="pure-u-1 " style="text-align:right; padding-right:2em;">
    <div class="content-box">
      <h1 class="parallax-text">{{'recording | mix engineer' | uppercase}}</h1>
      <h1 class="parallax-text">{{'producer' | uppercase}}</h1>
    </div>
  </div>
</div>

<div class="slide2 pure-g island">
  <div class="pure-u-1 text-center">
    <h1 class="feature-text">{{ 'featured videos' | uppercase }}</h1>
  </div>
  <div ng-repeat="object in home.video | orderBy:'-createdAt' | limitTo:2" class="island pure-u-1 pure-u-lg-1-2">
    <div class="vid-box" ng-bind-html="object.link | trustedHtml"></div>
    <!--
    <div>
      <p style="font-weight:400;">Artist: {{object.title}}</p>
      <p style="font-weight:300;">{{object.content}}</p>
    </div>
    -->
  </div>
</div>



<div class="slide4 pure-g island">
  <div class="pure-u-1" style="text-align:right; padding-right:2em;">
    <div class="content-box">
      <h1 class="parallax-text">{{'film sound' | uppercase}}</h1>
      <h1 class="parallax-text">{{'video editor' | uppercase}}</h1>
      <h1 class="parallax-text">{{'graphic design' | uppercase}}</h1>
    </div>
  </div>
</div>

