//wide-screen
@media screen and (min-width: 1400px) and (max-width: 3000px) {
  .paraImage{
    padding: 0;
    margin: -60%;
    min-width: 1200px;
  }

  .para-text {
    top: 20%;
  }

}

@media screen and (min-width: 741px) and (max-width: 1000px) {
  .paraImage{
    padding: 0;
    margin: -60%;
    min-width: 1200px;
  }

}

// Tablet
@media screen and (min-width: 600px) and (max-width: 740px) {
  .paraImage{
    padding: 0;
    margin: -60%;
    min-width: 1200px;
  }

  .btn-default:hover {
    color: $white;
    background-color: rgba(0,0,0,0);
  }
}

@media screen and (min-width: 543px) and (max-width: 599px) {
  .paraImage{
    padding: 0;
    margin: -70%;
    min-width: 1200px;
  }

  .btn-default:hover {
    color: $white;
    background-color: rgba(0,0,0,0);
  }

}

@media screen and (min-width: 476px) and (max-width: 542px) {
  .paraImage{
    padding: 0;
    margin: -80%;
    min-width: 1200px;
  }

  .title-text{
    font-size: 300%;
  }
  .sub-text{
    font-size: 150%;
  }

  .parallax-text{
    font-size: 150%;
  }

  .btn-default:hover {
    color: $white;
    background-color: rgba(0,0,0,0);
  }

}

// Mobile
@media screen and (max-width: 475px) {

  #header {
    font-size: 0.9em;
  }

  #footer {
    font-size: 0.7em;
  }

  .title-box {
    max-height: 0;
  }

  .slide3{
    //max-height: 200px;
    padding: 5em 0 5em 0;
  }

  .paraImage{
    padding: 0 0 20em;
    margin: -140%;
    min-width: 1200px;
  }

  .title-text{
    font-size: 2em;
  }

  .sub-text{
    font-size: 1em;
  }

  .parallax-text{
    font-size: 1em;
    font-weight: 400;
  }

  .trans-box {
    margin: 0;
    padding: 0;
    text-align: justify;
  }

  .audio-box {
    height: 10em;
  }

  .vid-box {
    height: 10em;
  }

  .info-box p {
    font-size: 0.7em;
  }

  .btn-default:hover {
    color: $white;
    background-color: rgba(0,0,0,0);
  }

}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  .btn-default:hover {
    color: $white;
    background-color: rgba(0,0,0,0);
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

  .btn-default:hover {
    color: $white;
    background-color: rgba(0,0,0,0);
  }
}
