
.slide1{

	background:url('../../../assets/images/tom-bw3.png') 50% 80% no-repeat fixed;
	color:$white;
	margin: none;
	padding: 10.3em 0 7.5em 0;
	background-size: cover;
}

.slide2{
	padding:0em 0 0.5em 0;
	border-top: 0px solid $gray;
	border-bottom: 0px solid $gray;
	background-color: $black;
	color: $silver;
	overflow: hidden;
	> div > h1{
		margin-bottom:0px;
	}
}

.slide3{
	background: url('../../../assets/images/keyboard.png') 50% 50% no-repeat fixed;
	color: $white;
	margin: none;
	padding: 7em 0 7em 0;
	background-size: cover;
}


.slide4{
	background: url('../../../assets/images/speaker-bw.png') 50% 80% no-repeat fixed;
	color: $white;
	margin:none;
	padding: 3.5em 0 3.5em 0;
	background-size: cover;
}

.slide9{
	border-top: 0px solid $gray;
	background-color: $black;
	color: $gray;
	overflow: hidden;
	> div > h1{
		margin-bottom:0px;
	}
}

.slide10{
	border-top: 0px solid $gray;
	border-bottom: 0px solid $gray;
	height:0.5em;
	background-color: $black;
	color: $gray;
	overflow: hidden;
	> div > h1{
		margin-bottom:0px;
	}
}
