
.slide1{
	color:$white;
	padding-bottom: 15em;
	background-size: cover;
  overflow: hidden;
}
.paraImage{
  padding: 10.3em 0 7.5em 0;
  transform: translate3d(0px, 75px, 0px);
}

.slide2{
	padding:0 0 0.5em 0;
	border-top: 0 solid $gray;
	border-bottom: 0 solid $gray;
	background-color: $black;
	color: $silver;
	overflow: hidden;
	> div > h1{
		margin-bottom:0;
	}
}

.slide3{
	color: $white;
  margin-bottom: 5em;
	background-size: cover;
}


.slide4{
	color: $white;
	padding: 0;
  background-size: cover;
  overflow: hidden;
}

.slide9{
	border-top: 0 solid $gray;
	background-color: $black;
	color: $gray;
	overflow: hidden;
	> div > h1{
		margin-bottom:0px;
	}
}

.slide10{
	border-top: 0 solid $gray;
	border-bottom: 0 solid $gray;
	height:0.5em;
	background-color: $black;
	color: $gray;
	overflow: hidden;
	> div > h1{
		margin-bottom:0;
	}
}
